.form-container 
{
  background: #f0f0f0;
  width: 430px;
  height: auto;
  margin: 20px auto ;
  padding-top: 10px;
  z-index: 1000;

}

.register{
  padding-left:40px;
  padding-top:0px;
  padding-bottom:20px;
}

.registerh4{

  padding: 0px 8px;

  font-weight: 300;
  text-align: center;
  color: #000000;
}
.registerh{

  padding: 0px 0;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #000000;
}
.register input[type="text"],.register input[type="email"],.register input[type="password"]
{


   width: 85%;
height:8px;
  background: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 17px;
font-size: 15px;


}
h6{
font-size: 15px;

}


input:focus { 

    border-color: #0040FF;
    box-shadow: 0 0 5px  #0040FF;
}
.register p{

margin-right: 280px;
color:#848484; 
font-size:13px; 
margin: 0 0 -2px;
}
.register h6
{
font-size:12px;
color:#848484; 
text-align: center;
}
.register h6 a
{
font-weight: 500px;
color:black; 
}
.msg
{
width:331px;
height:36px;
color:white;
margin-left: 0px;
background-color: red;
display:none;
text-align: center;
padding-top:10px;

}
.msg img
{
float:left;


}
.msg p
{
font-size: 0px;
}
.p1{


margin-left: -2px;
}
.p2{


margin-left: -2px;
}

span
{
color:#ff0000;
font-size:12px;

}
.register input[type="button"] {
  width: 85%;
  background: #FFBF00;
  border: 10px;
  padding:10px;
  font-size: 15px;
  color: #000000;
  cursor: pointer;
  border-radius: 5px;
  margin-left:0px;
  margin-top:10px;

}


.register input[type="button"]:hover {
  background: #DBA901;
}
@media only screen and (max-width: 480px) {
    
}


.lform{
  text-align: right;
  height: auto;
}