.form-container 
{
  background: #EEEEEE;
  width: 400px;
 margin: 20px auto ;
  padding-top: 10px;
  z-index: 1000;

}

.register_block{
  padding-left:25px;

  padding-bottom:20px;
}

.register_subheading{
    font-size: 16px;
    line-height: 18px;
    margin-top: -5px;
    margin-bottom: 18px;
    font-weight: lighter;
    text-align: center;
    color: #333;
}
.register_heading
{
    font-size: 22px;
    line-height: 24px;
    font-weight: lighter;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 18px;
    color: #333;
}
.register_block input[type="text"]
{
background: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 17px;
font-size: 15px;
}
.register_block input[type="email"]
{
background: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 17px;
font-size: 15px;
}
.register_block input[type="password"]
{
background: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 17px;
font-size: 15px;
}
h6{
font-size: 15px;

}
.move
{
margin-left: 75px;
}

input:focus { 

    border-color: #0040FF;
    box-shadow: 0 0 5px  #0040FF;
}
.register_block p{
font-size: 12px;
line-height: 14px;
color: #66696a;
z-index: 2;
margin: 0 0 2px;
}
.register_block h6
{
font-size:12px;
color:#848484; 

}
.register_block a
{
font-weight: 500px;
color:black; 
}
#crossc
{
    float: left;
    margin-left: 18px;
    font-size: 15px;

}
.cross {
    float: right;
    margin-right: 10px;
}
#text
{
   margin:0 auto ;

}
.message
{
  height:33px;
  width: 338px;
color:white;
margin-left: 0px;
background-color: #DF0101;
display:none;
text-align: center;
padding-top:10px;

}
#firstname
{

  height:30px;
  width: 338px;
}
#lastname
{

  height:30px;
  width: 338px;

}
#email
{
  height:30px;
  width: 338px;
}
#password
{
  height:30px;
  width: 338px;
}
#register
{
  height:36px;
  width: 338px;

}
.message img
{
float:left;
}
.message p
{
font-size: 0px;
}
.p1{


margin-left: -2px;
}
.p2{


margin-left: -2px;
}

span
{

font-size:12px;

}
 #register
{
  height:36px;
  width: 338px;
  background: #F1BE18;
  border: 10px;
  padding:10px;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  border-radius: 5px;
  margin-left:0px;
  margin-top:10px;

}


.register input[type="button"]:hover {
  background: #DBA901;
}
@media only screen and (max-width: 480px) {
    
}


.lform{
float:right;

}
