
.container-fluid {
  padding:0px;
}
.header
{
height:70px;
background-color: #333;
}
.logo_image
{
padding: 15px;
float:left;
}
#logo{
width: 800px;
margin: 0 auto;
}
.header form
{
margin:10px;
}
#lform  .form-control
{
width:200px;
height:28px;
border-radius:1px;
}
#submit
{
margin-left: 3px;
width:63px;
height:28px;
font-weight: bold;
padding:2px;
border-radius:2px;
}
#header form input {
    height: auto;
    border:none;
    border-radius: 4px;
    padding-left: 5px;
    margin-left: 5px;
}



#header a
{
text-decoration: none;
color:#fff;
}
.main{
	background-image: url("link.jpg");
	 background-size: 100%;
	 border : 1px solid #333333;
}
.footer
{
background-color:#333;
width:100%
}
#footer_header
{
    font-size: 12px;
    font-weight: bold;
    color: #cccccc;
    display: inline;
}
.browse {
    border-bottom: 1px solid #66696a;
  margin: 0 auto;
    padding-bottom: 10px;
    width:800px;
}
.common-link
{
width: 390px;
height:70px;
float:left;
margin-bottom: 20px;
}
.common-link h3
{
color:#cccccc;
font-size: 13px;
font-weight: bold;
}
.common-link ul{
    padding:0px;
}
.common-link li
{
float:left;
font-size:12px;
list-style-type: none;
}
.common-link a
{
    color:#cccccc;
    margin-right: 4px;
}
.links {
    width : 800px;
   margin : 0 auto;
   height:200px;
}
.legal {
    background: #000;
    width: 100%;
    margin : 0 auto;
    padding :20px ;

}
.search {
    width:800px;
   padding-top:10px;
    text-align: center;
}
.search h3,  .directory h3 {
    font-size: 13px;
    font-weight: bold;
    line-height: 10px;
    color: #000;
    display: inline-block;
    padding-right: 5px;
    color: #ccc;
    text-align: center;
}
#footer_form
{
text-align: center;
width:800px;
padding-top:6px;
}
#search
{
    background-color: #cccccc;
    width: 63px;
    height: 28px;
    font-weight: bold;
    padding: 2px;
    border-radius: 2px;
}
.directory {
    margin-top: 20px;
    margin-bottom: 0px;
}
.directory a.more {
    padding-left: 0px;
    padding-right: 10px;
    border-right: 1px solid #66696a;
}
.directory a.country {
    color: #ccc;
    padding-left: 2px;
   }
.directory ol li {
    display: inline-block;
    margin-right:2px;
}
ol, ul {
    list-style: none;
}
.directory a {
    font-size: 12px;
  }

.legal .copyright{
    float : left;
}
.legal .copyright span {
color:white;
}
.legal ul li {
display : inline;
  padding-left: 10px;
}

.legal ul li a{color: white;}

.legal-info{
    width : 60%;
    margin : 0 auto;
    font-size:12px;
}
